.topbar {
    width: 100vw;
    height: 55px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgb(0 0 0 / 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* This keeps the topbar filling the page no matter if a horizontal scroll is created due to a tiny view port */
    position: fixed;
    top: 0;
    left: 0;
}

.logo {
    margin: 0px 50px;
}

.userProfile {
    margin: 0px 50px;
}