.day-grid-item-container {
  position: relative;
  background-color: white;
  /* border-radius: 8px; */

  outline: rgba(0, 0, 0, 0.2) 1px solid;

  width: 100%;

  /* /////////////////////////////////////////////// IMPORTANT: VERY COOL /////////////////////////////////////////////// */
  /* In flexbox, when a child of the flex container has contents larger than the flexbox container or its designated flex ration, the child content will force the flexbox container/designated portion (given by flex: ) to be its min with, causing the box to no longer be responsive. */
  /* To fix this, just use overflow: hidden; */
  overflow: hidden;
}



.day-grid-item-container:not(.current-month) .day-grid-item-header {
  color: rgba(0, 0, 0, 0.4);
}

/* Position the day label within the day cell */
.day-grid-item-container .day-grid-item-header {
  color: black;
  padding: 8px;
  padding-bottom: 0;
  flex-shrink: 0;
  font-weight: 400;
}



/* .indivdualEventTagContainer {
  visibility: hidden;
  position: fixed;
  top: 40px;
} */
