.day-grid-item-container {
  position: relative;
  background-color: white;
  border-radius: 8px;
}

.day-grid-item-container:hover {
  background-color: #1295f2c4;
  transition: 0.25s;

  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  z-index: 80; */
  /* This box shadow only works because the grid cell is moved forward along the z axis using the z-index */
}

.day-grid-item-container:not(.current-month) .day-grid-item-header {
  color: rgba(0, 0, 0, 0.4);
}

/* Position the day label within the day cell */
.day-grid-item-container .day-grid-item-header {
  color: black;
  padding: 8px;
  padding-bottom: 0;
  flex-shrink: 0;
  font-weight: 400;
}




