
.groupSidebar {
    width: 100%;

    display:flex;
    flex-direction:column;
    /* The stretch to bottom of div trick described in calendarPage.css */
}

.groupSidebar > * {
    flex-shrink: 0;
}
/* The stretch to bottom of div trick */

/* .groupSearchbar {
    height: 44px;
    width: 100%;
    margin-bottom: 30px;
} */

.groupDetailsSidebar {
    display: flex;
    flex-direction: column;

    flex-grow: 1; 
    /* The stretch to bottom of div trick */
}

.groupEventsSidebar {
    flex: 1;
    border-bottom: 2px solid #CED0D4;
}

.groupMembersSidebar {
    flex: 1;
    margin-top: 20px;
}

.sidebarSubheading {
    font-size: 24px;
    font-weight: 600;
}



@media (max-width: 1024px) {
    .groupDetailsSidebar {
        flex-direction: row;
    }

    .groupEventsSidebar {
        border-bottom: none;
        border-right: 1px solid #CED0D4;
    }

    .groupMembersSidebar {
        margin-top: 0;
        border-left: 1px solid #CED0D4;
        padding-left: 30px;
        box-sizing: border-box;
    }
}

@media (max-width: 650px) {
    .groupDetailsSidebar {
        flex-direction: column;
    }

    .groupEventsSidebar {
        border-bottom: 2px solid #CED0D4;
        border-right: none;
        padding-bottom: 20px;
    }

    .groupMembersSidebar {
        margin-top: 20px;
        border-left: none;
        padding-left: 0;
        box-sizing: border-box;
    }
}

@media (max-width: 540px) {
    .sidebarSubheading {
        font-size: 22px;
    }
}